body{
    font-family: 'Oswald', sans-serif;
}
.menussilki{
    margin-left:1000px;
}
#cofeehouse{
    font-weight: bold;
    margin-left:100px;
}
.block1{
    width: 100%;
    height: 622px;
}
.block2{
    width: 100%;
    height: 800px;
}
.story{
    font-weight: bold;
    text-align: center;
    padding-top:285px;
}
.two{
    width: 600px;
    height: 400px;
}
.block2 p{
    margin-left:700px;
    margin-top:-250px;
}
.block3{
    width: 100%;
    height: 711px;
    background: #EFEFEF;
}
.block3 h1{
    text-align: center;
    font-weight: bold;
    padding-top:50px;
}
.chapter1{
    width: 365px;
    height: 474px;
    background: #FFFFFF;
    margin-left: 102px;
}
h4{
    font-weight: bold;
    padding-top:20px;
}
.chapter2{
    width: 365px;
    height: 474px;
    background: #FFFFFF;
    margin-left: 537px;
    margin-top: -472px;
}
.chapter3{
    width: 365px;
    height: 474px;
    background: #FFFFFF;
    margin-left: 972px;
    margin-top: -472px;
}
.block4{
    width: 100%;
    height: 337px;
    background: #817070;
}
.subscribe{
    text-align: center;
    color: #FFFFFF;
}
.email{
    width: 300px;
    height: 55px;
    border: 5px solid #FFFFFF;
    margin-left:800px;
    margin-top:50px;
}
button{
    margin-left: 900px;
    margin-top:50px;
    border:5px solid #FFFFFF;
    color: #817070;

}
footer{
    width: 100%;
    height: 72px;
}
.copyright{
    text-align: center;
    padding-top:30px;
}
.emailenter{
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}